body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    flex-basis:100%;
}

/*.main > *{
    border: 1px solid black;
}*/

#todaysDate{
    margin:0;
    font-size: x-large;
    font-weight: 600;
}

#plantotal >*{
    margin:0;
}

#plantotal{
    display: flex;
    margin-left: 100px;
}



.dateheader{
    font-size: x-large;
}

.header{
    flex-basis: 10%;
    display: flex;
    justify-content: flex-start;
}

.datenow{
    margin-left: 10px;
}

.table{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

tr{
    display:flex;
}

tr>td{
    max-width: 50px;
    min-width: 50px;
    text-align: center;
}

.buff>td{
    max-width: 100px;
    min-width: 100px;
}

.buffer > td{
    width: 100px;
}

.name{
    max-width: 90px;
    min-width: 90px;
}

.plan {
    border: 1px solid rgb(255, 255, 255);
}

.vehicle{
    width: 10%;
}

input{
    box-sizing: border-box;
    width:100%;
    border: none;
    text-align: center;
}

td{
    border: 1px solid rgb(0, 0, 0);
}

.left{
    min-width: 50px;
}

.v1{
    display: flex;
    
}

.inputform{
    display: flex;
}

#nameinput{
    flex-basis: 100px;
}

.addRowButton {
    border-radius: 0px;
    background-color: rgb(194, 240, 193);
    transition: all 0.4s ease;
    border: 1px solid white;
}

.addRowButton:hover {
    background-color: rgb(112, 244, 110);
    color: black;
}

.addRowButton:active {
    color: black;
}

.addRowButton:disabled {
    color: #747474;
    border-radius: 0px;
    background-color: rgb(194, 240, 193);
    transition: all 0.4s ease;
    border: 1px solid white;
}

.removeRowButton {
    border-radius: 0px;
    background-color: rgb(240, 193, 193);
    transition: all 0.4s ease;
    border: 1px solid white;
}

.removeRowButton:hover {
    background-color: rgb(244, 110, 110);
    color: black;
}

.removeRowButton:active {
    color: black;
}

/* Add a black background color to the top navigation */
nav {
    background-color: #4f4fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    justify-content: flex-end;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    &.mask {
      mask-image: linear-gradient(black 70%, transparent);
      -webkit-mask-image: linear-gradient(black 70%, transparent);
    }  
    @media (min-width: 640px) {
      padding: 16px 50px 30px 50px;
    }
}
nav.is-hidden {
    transform: translateY(-100%);
}

.navButton {
    display: inline-block;
    padding: 0;
    margin-left: 30px;
    font-size: 16px;
    background: none;
    border: none;
    color:rgb(169, 169, 169);
    filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
    @media (min-width: 640px) {
      margin-left: 20px;
    }
    
    &::before {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: center/1.3rem 1.3rem 
    }
}

.navButton:hover{
    color:white;
    filter: none;
}

.loginNav{
margin-right: 80px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 160px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  .submit{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    justify-self: center;
  }

  .submit:hover, .cancelbtn:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    align-self: flex-start;
    color: white;
    cursor: pointer;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #loginName, #loginPass {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  #changable{
    margin: 10px;
    margin-top: 60px;
  }

.WorkRowButton{
    font-size: small;
}
  
.workRow{
    display: flex;
    width: fit-content;
}
